<section class="m-pageContainer">
    <app-bar [isHome]="false"></app-bar>
    <div class="m-appContent">
        <h4>Text Button</h4>
        <button class="mrcpButton">
            <span class="mrcpButton__label">Click me!</span>
        </button>
        <button class="mrcpButton mrcpIcons mrcpIcons__icon-trash">
            <span class="mrcpButton__label">Click me!</span>
        </button>
        <h4>Raised Button</h4>
        <button class="mrcpButton mrcpButton--raised">
            <span class="mrcpButton__label">Click me!</span>
        </button>
        <button class="mrcpButton mrcpButton--raised mrcpIcons mrcpIcons__icon-trash">
            <span class="mrcpButton__label">Click me!</span>
        </button>
        <h4>Outlined Button</h4>
        <button class="mrcpButton mrcpButton--outlined">
            <span class="mrcpButton__label">Click me!</span>
        </button>
        <button class="mrcpButton mrcpButton--outlined mrcpIcons mrcpIcons__icon-trash">
            <span class="mrcpButton__label">Click me!</span>
        </button>
        <h4>Round Button</h4>
        <button class="mrcpButton mrcpButton--raised mrcpButton--rounded">
            <span class="mrcpButton__label">Click me!</span>
        </button>
        <button class="mrcpButton mrcpButton--raised mrcpButton--rounded mrcpIcons mrcpIcons__icon-trash">
            <span class="mrcpButton__label">Click me!</span>
        </button>
    </div>
</section>