:host {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.m-newRecipeDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: default;
}

.newRecipeButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vmin;
  background-image: url('/assets/img/bgCard.jpg');
  padding: 6.66vmin;
  border-radius: 5.6vmin;
}

.newRecipeButton__icon {
  margin-top: 10.4vmin;
}

.newRecipeButton h4 {
  font-size: 5.4vmin;
}

.newRecipeButton h3 {
  font-size: 8vw;
}