:host {
  width: 100%;
}

.m-recipeList {
  display: flex;
  flex-direction: column;
}

@media screen and (orientation:landscape){
  .m-recipeList {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}